body {
  background-color: #AEBDCB;
  font-family: 'Reenie Beanie', cursive;

}

h1 {
  font-size: 45px;
  font-family: Quantico;
  text-align: center;
  color: #FFFFFF;
}

p {
  font-size: 30px;
  text-align: center;
  font-family: 'Comic Sans MS', 'sans-serif';
}
