body {
  background-color: #AEBDCB;
  font-family: 'Reenie Beanie', cursive;

}

h1{
  font-size: 45px;
  font-family: Quantico;
  text-align: center;
  color: #FFFFFF;
}

h3{
  font-size: 60px;
  text-align: center;
  color: red;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p{
  font-size: 30px;
  text-align: center;
  font-family: 'Comic Sans MS', 'sans-serif';
}

#harry-mark {
  color: blue;
  font-size: 1.5rem;
}
