body {
    background-color: #AEBDCB;
    font-family: 'Reenie Beanie', cursive;
  }
  
  h1 {
    font-size: 45px;
    font-family: 'Reenie Beanie', cursive;
    text-align: center;
    color: #FFFFFF;
  }
  
  p {
    font-size: 30px;
    text-align: center;
    font-family: Quantico;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }